@media (max-width: 1440px) {
  body {
    max-width: 1440px;
  }

  .main,
  .container {
    max-width: 100%;
  }

  .slick-prev {
    left: -30px;
  }
  
  .slick-next {
    right: -30px;
  }
}

@media (max-width: 1280px) {
  body {
    max-width: 1280px;
  }

  .playlist {
    max-width: 90%;
}

  .slick-prev {
    left: -25px;
    z-index: 10;
  }
  
  .slick-next {
    right: -25px;
  }
}

@media (max-width: 1200px) {
  body {
    max-width: 1200px;
  }

  .control__timeline {
    max-width: 75%;
  }

  .info__descr {
    max-width: 50%;
    width: 50%;
  }

  .info-page .info::before {
    right: 100px;
  }

  .info-page .info::after {
    right: 20px;
  }

  .media__descr {
    max-width: 50%;
  }

  .section-gallery__item_four {
    display: none;
  }

  .section-gallery__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; 
    grid-template-columns: repeat(3, 255px);
  }

  .slick-prev {
    left: -35px;
  }
  
  .slick-next {
    right: -35px;
  }
}

@media (max-width: 1024px) {
  body {
    max-width: 1024px;
  }

  .news__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    flex-wrap: wrap;
  }

  .news__list .news__item {
    margin-bottom: 30px;
  }
  
  .news__item:last-child {
    margin-right: 30px;
  }

  .news__box {
    max-width: 350px;
  }

  .media {
    max-width: 100%;
  }

  .info-page .container::after {
    right: 50px;
  }

  .playlist__title,
  .playlist__item {
    user-select: none;
  }

  .slider__card {
    width: 250px;
    height: 350px;
    background-color: transparent;
    border-right: 1px solid #2F2B2B;
    border-bottom: 1px solid #2F2B2B;
  }

  .slider__sub {
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 100%;
  }

  .slider__time {
    font-weight: 400;
    text-transform: none;
  }

  .slider__title {
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 100%;
  }

  .slider__link {
    right: 15px;
    bottom: 10px;
    padding: 5px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-height: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-transform: lowercase;
    background-color: transparent;
    border-radius: 15px 0px;
    color: var(--violet);
  }
}

@media (max-width: 992px) {
  body {
    max-width: 992px;
  }

  .header {
    padding-left: 3rem;
    width: 100%;
  }

  .header__logo {
    margin-left: auto;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }

  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 20%;
  }

  .info-page .info::before {
    display: none;
  }

  .info-page .container::after {
    display: none;
  }

  .media__descr {
    max-width: 100%;
  }
}

@media (max-width: 900px) {
  body {
    max-width: 900px;
  }

  .footer {
    max-width: 100%;
  }

  .nav__list {
    width: 70%;
  }

  .nav__item { 
    margin-bottom: 15px;
  }
}

@media (max-width: 768px) {
  body {
    max-width: 768px;
  }

  .news__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .news__list .news__item {
    margin-right: 0;
  }

  .main {
    padding: 0 4rem;
  }

  .info__list {
    max-width: 50%;
  }

  .section-gallery__item_one {
    display: none;
  }

  .section-gallery__list {
    grid-template-columns: repeat(2, 255px);
  }

  .section-gallery__item_five {
    grid-column: auto;
  }
}

@media (max-width: 720px) {
  .last-track__playlist {
    padding-left: 0;
  }

  .last-track__pic {
    display: none;
  }
}

@media (max-width: 600px) {
  body {
    max-width: 600px;
  }

  .main {
    padding: 0 2rem;
  }

  .info-page .info::after {
    right: 20px;
  }

  .media {
    padding: 20px 50px;
  }

  .section-gallery__list {
    grid-template-columns: repeat(1, 255px);
  }

  .section-gallery__item_five {
    width: 255px;
  }

  .slick-next {
    right: 25px;
  }

  .slick-prev {
    left: 25px;
  }

  .footer__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer-table {
    display: none;
  }

  .media-screen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    min-height: 50px;
    text-align: center;
  }

  .media-screen__item {
  font-size: 18px;
  line-height: 27px;
  color: var(--light);
  text-transform: uppercase;
  font-weight: 400;
  }
}

@media (max-width: 480px) {
  body {
    margin: 0 auto;
    max-width: 480px;
    background-image: url("../img/media/musician-back-mobile.png");
  }

  .header__logo {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 0;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  .nav {
    margin-right: 20px;
  }

  .nav__link {
  font-weight: 400;
  font-size: 14px;
  }

  .intro__title,
  .info__title,
  .last-track__title {
    font-size: 30px;
    line-height: 100%;
  }

  .control__play,
  .last-track__play,
  .control__pause,
  .last-track__pause {
    margin-right: 15px;
    width: 45px;
    background-image: url("../img/media/480-pause-button.svg");
    background-position: left 0 center;
  }

  .control__pause,
  .last-track__pause {
    background-image: url("../img/media/play-button-480.svg");
  }

  .control__current-time, 
  .control__dash, 
  .control__duration-time, 
  .last-track__current, 
  .last-track__dash, 
  .last-track__duration {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
  }

  .control__timeline, 
  .last-track__input {
    margin-right: 20px;
  }

  .control__timeline::-webkit-slider-thumb,
  .last-track__input::-webkit-slider-thumb {
    width: 1px;
    height: 10px;
  }

  .control__timeline::-moz-range-thumb,
  .last-track__input::-moz-range-thumb  {
  width: 1px;
  height: 10px;
  }

  .intro__audio {
    font-size: 50px;
    line-height: 100%;
  }

  .info__title,
  .last-track__title {
    background-position: bottom 4px left;
  }

  .news__item,
  .news__box {
    width: 250px;
  }

  .news__descr,
  .info__item {
    font-weight: 400;
  }

  .news__item .news__descr {
    margin-bottom: 0;
    padding: 10px;
    width: 100%;
  }

  .news__box {
    min-height: 50px;
  }

  .follow__title {
    font-size: 15px;
    font-weight: 400;
    line-height: 100%;
  }

  .follow__item {
    background-size: 18px 18px;
    background-position: bottom 5px left 15px;
  }

  .follow__link {
    font-weight: 400;
    line-height: 100%;
  }

  .header {
    padding-left: 15px;
    margin-bottom: 170px;
  }

  .main {
    padding: 0 15px;
  }

  .news,
  .info-page,
  .media,
  .section-gallery,
  .slider {
    margin-bottom: 100px;
  }

  .last-track {
    margin-bottom: 170px;
  }

  .info {
    margin-bottom: 50px;
  }

  .info__descr {
    max-width: 100%;
    width: 100%;
  }

  .media {
    padding: 15px 15px;
  }

  .last-track__playlist {
    max-width: 100%;
  }

  .last-track__control {
    max-width: 75%;
  }

  .last-track__play,
  .last-track__pause {
    margin-right: 15px;
  }

  .footer__list {
    margin-bottom: 50px;
  }

  .footer__item .footer__link {
    width: 30px;
    height: 30px;
  }

  .footer__item:first-child .footer__link {
    background-image: url("../img/media/apple-480.svg");
  }

  .footer__item:nth-child(2) .footer__link {
    background-image: url("../img/media/spoty-480.svg");
  }
  
  .footer__item:nth-child(3) .footer__link {
    background-image: url("../img/media/insta-480.svg");
  }
  
  .footer__item:nth-child(4) .footer__link {
    background-image: url("../img/media/youtube-480.svg");
  }
  
  .footer__item:nth-child(5) .footer__link {
    background-image: url("../img/media/twitter-480.svg");
  }
  
  .footer__item:nth-child(6) .footer__link {
    background-image: url("../img/media/fb-480.svg");
  }
}

@media (max-width: 440px) {
  .last-track__control {
    width: 55%;
  }

  .slick-arrow {
    width: 20px;
    height: 30px;
  }

  .slick-next {
    background-image: url("../img/media/480-arrow-next.svg");
    right: 0;
  }

  .slick-prev {
    background-image: url("../img/media/480-arrow-prev.svg");
    left: 0;
  }
}

@media (max-width: 320px) {
  body {
    max-width: 320px;
    }
  
  .footer__list {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 60px);
  }
}